.aboutC{
    
    
    width: 100%;
    
}



.aboutTitle h2{
    padding-top: 60px; 
    text-align: center;
}



.aboutContainer{
   
    padding-top: 40px;
    /* background-color: red; */
    align-items: center;
    
    
}

.description{

    
    text-align: justify;
    
    font-size: 16px;
    padding-left: 200px;
    padding-right: 200px;
    
   
    
}

.containerIcons{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    ;
    
    padding-top: 50px;   
    padding-left: 200px;
}

.iconsSubtitle{
    font-size: 20px;
}

.icons{
    /* display: flex;
    flex-wrap: wrap; */
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width: 80%;
    
    
    padding-top: 12px;
   
    
}

.icons1{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    
}

/* .icons2{
   
    display: flex;
    padding-top: 40px;
} */


.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}




.icon:hover{
   filter: sepia(60%);
}


@media (max-width: 990px){

    

    .aboutContainer{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .description{
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 25px;
    }
    .containerIcons{
        padding-left: 100px;
        padding-right: 100px;
    }

}


@media (max-width: 610px){
    .aboutC{
        height: 1050px;
    }
}


@media (max-width: 470px){
   
    .description{
        font-size: 16px;
        text-align: center;
        padding-right: 40px;
        padding-left: 40px;
    }
    .iconsSubtitle{
        font-size: 16px;
    }
}

@media (max-width: 350px){
    .description{
        font-size: 16px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .iconsSubtitle{
        font-size: 15px;
    }
}