.title{
    padding: 60px;   
}

.aboutContainer{
    width: 100%;
    
}



@media (min-width: 990px){
    .headerLeft{
        justify-content: center;
    }
}

.headerLeft{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding-top: 20px; */
    text-align:center;
    
    font-size: 20px;
    
    
    
}

.headerRight{
        height: 600px;
        /* padding-top: 20px; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* align-items: center */
} 

@media (max-width: 470px) {
    .headerRight {
        align-items: flex-start;        
        height: 500px;    
    }
   .headerLeft{
    
    height: 700px;
    /* padding-top: 80px; */
    padding-left: 45px;
    padding-right: 45px;
   }
 }

 @media (min-width: 470px){
    .headerLeft{
        height: 500px;
        padding-left: 45px;
        padding-right: 45px;
    }
 }
