.headerLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(90deg, rgba(17,17,19,1) 0%, rgba(0,0,0,0.9304096638655462) 100%, rgba(14,4,4,0.9836309523809523) 100%);
    text-align:center;
    height:700px;
    padding: 40px;
}

.headerRight{
        height: 700px;
        background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
} 

@media (max-width: 990px) {
    .headerRight {
        align-items: flex-start;
        background-color: yellow;
        height: 500px;
        
    }
   .headerLeft{
    background-color: violet;
    height: 450px;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 45px;
   }

 }