.cardContainer{
  cursor: pointer;
  
  
}


.box{
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  overflow: hidden;
  height: 350px;
  width: 300px;
  
}

.box {
    width: 30%;
    margin: 0 auto;
    
    background-color: darkgray;
    padding: 35px;
    
    
    border-radius: 50px/50px;
    background-clip: padding-box;
    text-align: center;
    transition: 0.5s;
    height: 300px;
    
    
  }
  
  .box:hover{
    transform: translateY(0) scale(1.2);
    transform: scale(1.08) rotate(6deg);
  }



  /* .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    width:25%;
    
  }
  .button:hover {
    background: #06D85F;
  } */
  

   

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
   
    /* transition: opacity 500ms;
    visibility: hidden;
    opacity: 0; */
  }
  /* .overlay:target {
    visibility: visible;
    opacity: 1;
  } */
  
  .popup {
    height: 380px;
    margin: 130px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 1s ease-in-out;
  }

  .popup img{
    width: 80%;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }

  .content p{
    text-align: center;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background: none;
    border: none;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  
 