/* .navBarClass{
  border-bottom: 1px solid #454854;
  
  
} */

.modo {
    display: flex;
   
}


.dark-mode-toggle {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    top: 0;
    left: 0;
    background-color: transparent;
    
  }
  .dark-mode-toggle svg {
    fill: #000;
  }
  .dark-mode-slider {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #2e3440;
    display: flex;
    position: relative;
    transform: translateX(0px);
    transition: all 0.2s ease;
  }

  .hov:hover{
    color: grey !important;
  }

  /* @media(min-width: 991){
    
  } */
  
  @media (max-width: 990px){
/* 
    .linkMenu{
  background-color: red;
  z-index: 0;
  ;
} */

    .navLeft{
      position: relative;
      
      bottom: 50px;
    }
    .menuNav{
      
      background: linear-gradient(to bottom, #8EA4C8, #DEDCE4);
      width: 100%;
      padding-left: 7px;
      filter: sepia(15%);
      /* padding-top: 10px; */
      /* background-color: red; */
      /* background: grey;
      padding-left: 10px;
      width: 22%; */
    }
  }

  .btnToggle{
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
  }


