.contacto{
    /* height: 600px; */
    text-align:center;
    padding: 60px;
    margin-bottom: auto
}

.contactoTitle{
    height: 160px;
}

.contactoTitle p {
    padding-top: 40px;
}

@media (max-width: 470px){
    .contactoTitle{
        height: 300px;
    }
}