.proyectosTitle{
    text-align:center;
    height:160px;
    padding: 60px;
    margin-bottom: auto;
    z-index: 1
}

.proyectosTitle p {
    padding-top: 40px;
}

.containerProyectos{
    height: 1200px;
    padding-top: 40px;
}



@media (max-width: 470px){
    .proyectos{
        height: 200px;
    }
}

@media (max-width: 700px){
    .containerProyectos{
        height: 2200px;
    }
}